---
http_interactions:
- request:
    method: get
    uri: https://api2.autopilothq.com/v1/contact/person_39812D93-138C-4B26-B0DF-C9E113D96A5A
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Autopilotapikey:
      - test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Mon, 16 Jan 2017 04:14:43 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"Email":"test@example.com","created_at":"2017-01-14T03:16:19.000Z","api_originated":true,"contact_id":"person_39812D93-138C-4B26-B0DF-C9E113D96A5A"}'
  recorded_at: Mon, 16 Jan 2017 04:14:44 GMT
recorded_with: VCR 3.0.3
