---
http_interactions:
- request:
    method: get
    uri: https://api2.autopilothq.com/v1/triggers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Autopilotapikey:
      - test
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 02 Jun 2017 15:15:23 GMT
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"triggers":[{"trigger_id":"0003","journey":"trigger test","trigger_type":"apiTrigger"}]}'
  recorded_at: Fri, 02 Jun 2017 15:15:24 GMT
recorded_with: VCR 3.0.3
